nz-layout {
  height: 100%;
}


nz-sider {
  overflow: hidden;
  height: 100%;
  position: fixed;
  left: 0;
  border-right: 1px solid #f0f0f0;

  &.history {
    margin-left: 80px;
  }
}

.ant-menu-vertical {
  border-right: 0;
}

.hth {
  .logo {
    border-bottom: 1px solid #f0f0f0;
    height: 60px;

    .logo-img {
      width: 100px;
      margin: auto;
      height: 100%;
      object-fit: contain;
    }
  }

}

.logo {
  border-bottom: 1px solid #f0f0f0;
  height: 60px;

  .logo-img {
    width: 30px;
    margin: auto;
    height: 100%;
    object-fit: contain;
  }
}

.header-menu {
  line-height: 64px;
}

.sider-menu {
  height: 100%;
  border-right: 0;
}

.inner-layout {
  padding: 0
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #fff;
  min-height: 280px;
  margin-left: 330px;
}

.fixed-actions {
  ul {
    border-right: 0;
  }

  border-top: 1px solid #f0f0f0;
  position: absolute;
  bottom: 0;
  width: 100%;
}


nz-content {
  background: #f9f8f8;
}
